<section>
  <%= render 'chart' %>

  <h1>Currencies</h1>

  <%= form_tag create_multiple_visits_path(:source => 'currencies'), :remote => true do %>
    <table>
      <tr>
        <th></th>
        <th>Name <input type="text" class="filter" name="filter" /></th>
        <th>Code</th>
        <th>Status</th>
        <th></th>
      </tr>

      <%= render @currencies %>
    </table>

    <p>
      <%= submit_tag 'Collect' %>
      <input type="button" id="check_all" value="Check All" />
      <input type="button" id="clear_all" value="Clear All" />
    </p>
  <% end %>
</section>